# Uses DB access from ../.env
COMPETITOR_CODE=B2B_COGITO
COMPETITOR_NAME=B2B Cogito
BASE_URL=https://b2bcogito.com
SEARCH_PATH=/products/search/language:eng
SEARCH_PARAM=q
SCRAPER_MODE=HTML
SEARCH_EXTRA_PARAMS={}
DEFAULT_CURRENCY=EUR
REQUEST_DELAY_SECONDS=5
COGITO_BLOCKED_RETRY_COUNT=2
COGITO_BLOCKED_RETRY_DELAY_SECONDS=60
