# Uses DB access from ../.env
COMPETITOR_CODE=BAGRY_ND
COMPETITOR_NAME=Bagry ND
BASE_URL=https://www.jcb-nahradni-dily.cz
SEARCH_PATH=/hledani
SEARCH_PARAM=query
SCRAPER_MODE=HTML
SEARCH_EXTRA_PARAMS={}
