# Uses DB access from ../.env
COMPETITOR_CODE=DILYBAGRU
COMPETITOR_NAME=Dilybagru
BASE_URL=https://www.dilybagru.cz
SEARCH_PATH=/
SEARCH_PARAM=s
SCRAPER_MODE=HTML
SEARCH_EXTRA_PARAMS={"post_type":"product"}
