# Uses DB access from ../.env
COMPETITOR_CODE=PROFI_MACHINERY
COMPETITOR_NAME=Profimachinery
BASE_URL=https://www.profimachinery.cz
SEARCH_PATH=/search
SEARCH_PARAM=phrase
SCRAPER_MODE=HTML
SEARCH_EXTRA_PARAMS={}
