# Uses DB access from ../.env
COMPETITOR_CODE=STROJPARTS
COMPETITOR_NAME=Strojparts
BASE_URL=https://www.strojparts.cz
SEARCH_PATH=/api/v1/product
SEARCH_PARAM=note
SCRAPER_MODE=STROJPARTS_API
SEARCH_EXTRA_PARAMS={"limit":20,"offset":0,"random":false}
